{% extends "main/padre.html" %}
{% load static %}
{% block form_Miembros %}
    <form action="/Miembros" method="POST">{% csrf_token %}
        <p>Nombre: <input type="text" name="nombre"></p>
        <p>Apellido: <input type="text" name="apellido"></p>
        <p>Edad: <input type="number" name="edad"></p>
        <p>Mail: <input type="text" name="mail"></p>
        <p>Telefono: <input type="number" name="telefono"></p>

        <input type="submit" value="enviar">
    </form>
{% endblock %}